body {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#wrap {
    width: 400px;
    height: 3867.27px;
}
header {
    width: 360px;
    height: 60px;
    padding: 0 20px 0 20px;
    display: flex;
    position: relative;
    z-index: 300;
    position: sticky;
    top: 0;
    background-color: #062c5e;
}
.header_container {
    width: 360px;
    height: 60px;
}
.header_logo {
    display: block;
    margin: 0;
    width: 170px;
    height: 60px;
}
.header_logo > a {
    display: block;
    width: 170px;
    height: 17px;
    padding: 22px 0 21px 0;
    position: relative;
}
.header_logo > a > img {
    width: 170px;
    height: 17px;
    position: absolute;
}
.utils {
    width: 90.047px;
    height: 40.797px;
    position: absolute;
    top: 15px;
    left: 289.953px;
    bottom: 4.203px;
    display: flex;
}
.search {
    width: 22.391px;
    height: 23px;
    padding: 7px 14px 7px 14px;
}
.search > img {
    width: 18.39px;
    height: 18.39px;
    -webkit-filter: brightness(0) invert(1); 
    filter: brightness(0) invert(1);
}
.line {
    width: 1px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    left: 46.391px;
    top: 6px;
    right: -1px;
    bottom: 7px;
    opacity: 2;
}
.sidenav {
    width: 28px;
    height: 44.797px;
    padding: 2px 0 0 4px;
    position: absolute;
    left: 56px;
}
.sidenav > img {
    width: 28px;
    width: 28px;
    -webkit-filter: brightness(0) invert(1); 
    filter: brightness(0) invert(1);
    line-height: 44px;
}
.slide_area {
    width: 400px;
    height: 805px;
}
.slide_video {
    width: 400px;
    height: 786px;
    position: relative;
}
.slide_video > img {
    width: 400px;
    height: 786px;
    position: absolute;
    bottom: 60px;
    filter: brightness(0.5);
}
.slide_title {
    width: 400px;
    display: flex;
}
.slide_content {
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 250px;
}
.slide_content > div {
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
}
.slide_title > div:first-child {
    margin-right: 27.135px;
    margin-top: 10px;
}
.slide_title > div:nth-child(3) {
    margin-left: 27.135px;
    margin-top: 10px;
}
.stick {
    width: 30px;
    height: 1px;
    background-color: #fff;
}
.slide_content > h2 {
    color: #fff;
    display: block;
    width: 380px;
    height: 50.391px;
    padding: 0 10px 0 10px;
    margin: 17.027px 0 0 0;
    font-size: 40px;
}
.slide_content > button {
    width: 123.72px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: #fff;
    margin: 10px 0 10px 0;
    font-weight: bold;
}
.slide_content > button:hover {
    background-color: #fff;
    color: #333;
    border: none;
}
.slide_bar {
    position: absolute;
    bottom: 74px;
    width: 400px;
    height: 7px;
    background-color: #0464b3;
}
.slide_pager {
    position: absolute;
    top: 792px;
    width: 400px;
    height: 73px;
    background-color: #f5f5f5;
}
.pager_wrap {
    width: 360px;
    height: 73px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pager_wrap > p {
    font-size: 20px;
}
.pager_wrap > button {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 38px;
    border: 1px solid #eee;
    padding: 0;
    font-size: 14px;
    transition: all 0.8s;
}
.pager_wrap > button:hover {
    background-color: #444;
    color: #fff;
    transition: all 0.8s ease-out;
}

.home_news {
    width: 400px;
    height: 787.344px;
    padding: 50px 0 40px 0;
}
.h_wrap {
    width: 360px;
    height: 787.344px;
    padding: 0 20px 0 20px;
}
.home_wrap {
    width: 360px;
    height: 787.344px;
}
.home_wrap > ul {
    width: 360px;
    height: 630.625px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e0e0e0;
}
.home_wrap > ul > li {
    width: 350px;
    height: 116.656px;
    padding: 20px 5px 20px 5px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
}
.home_about {
    width: 204.156px;
    height: 44px;
    margin: 8px 0 8px 0;
    font-size: 15px;
    color: #444;
}
.home_about:hover {
    text-decoration: underline;
    color: #005295;
}
.home_wrap > ul > li:nth-child(3) > div {
    font-size: 14px;
}
.home_wrap > ul > li > img {
    width: 116.66px;
    height: 116.66px;
    margin-left: 30px;
}
.home_title {
    display: block;
    width: 340px;
    height: 57.594px;
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}
.home_more {
    width: 360px;
    height: 40px;
    margin-top: 28.125px;
    text-align: center;
}
.home_more > button {
    width: 123.72px;
    height: 40px;
    background-color: #fff;
    color: #444;
    border: 1px solid #999;
    border-radius: 20px;
}
.home_more > button:hover {
    background-color: #333;
    color: #fff;
    border: none;
}
.story {
    width: 400px;
    height: 771.73px;
    position: relative;
}
.story > img {
    width: 400px;
    height: 410px;
    filter: brightness(0.4);
}
.story_wrap {
    width: 360px;
    height: 771.734px;
    padding: 0 20px 0 20px;
    position: absolute;
    top: 1px;
}
.story_wrap > h1 {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 55px 0 25px 0;
    text-align: center;
}
.story_wrap > ul {
    width: 360px;
    height: 367.156px;
    margin: 0;
    padding: 0;
}
.list_wrap {
    width: 359.97px;
    height: 183.579px;
    padding: 0;
    display: flex;
}
.list_wrap > li:first-child {
    margin-right:7.188px;
}
.list_wrap > li {
    width: 176.391px;
    height: 176.391px;
    margin-bottom: 7.188px;
    overflow: hidden;
}
.list_wrap > li > img {
    width: 176px;
    height: 176px;
    transition: all 0.5s;
}
.list_wrap > li > img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
.txt {
    width: 360px;
    height: 194.188px;
    margin: 60px 0 32px 0;
}
.txt > h3 {
    text-align: center;
    font-size: 21px;
}
.txt > p {
    text-align: center;
    font-size: 13px;
    color: #444;
    line-height: 25px;
}
